body {
    margin: 20px;
}
section {
    margin-right: 0;
    float: left;
}
.colorDemo {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(0,0,0);
}

